html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/* Header */

.background {}

.wrapper {
    position: fixed;
    background-color: rgb(226, 214, 245);
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-top: 0px;
    top: 0;
}

.wrapper__logo {
    height: 50px;
    margin: 20px 0px;
}

/* Hamburger Menu*/

.hamburger {
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    left: 4vh;
    top: 4vh;
    position: absolute;
    padding: 5px;
    outline: none;
    z-index: 100;
    transition: ease-in-out .3s .2s;
    position: fixed;
    opacity: 0;
}

.hamburger-active {
    transform: translateX(250px);
}

.hamburger__box {
    width: 64px;
    height: 64px;
    display: inline-block;
    position: relative;
}

.hamburger__inner-top {
    width: 100%;
    height: 8px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
    content: '';
    transition: ease-in-out .3s .2s;
}

.hamburger-active .hamburger__inner-top {
    transform: translateY(17px) rotate(-45deg)
}

.hamburger__inner {
    width: 100%;
    height: 8px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    transition: ease-in-out .3s .2s;
}

.hamburger-active .hamburger__inner {
    background-color: transparent;
}

.hamburger__inner-bottom {
    width: 100%;
    height: 8px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 80%;
    transform: translateY(-50%);
    content: '';
    transition: ease-in-out .3s .2s;
}

.hamburger-active .hamburger__inner-bottom {
    transform: translateY(-21px) rotate(45deg)
}

/* Hamburger Menu Sidebar*/

.sideBar {
    height: 100vh;
    width: 250px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    transition: ease-in-out .3s .2s;
    z-index: 100;
    position: fixed;
}

.sideBar-active {
    transform: translateX(0px);
    opacity: 0.7;
}

.sideBar__list {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sideBar__item {
    height: 25vh;
    border: 1px solid black;
    position: relative;
}

.sideBar__link {
    background-color: black;
    border-style: none;
    color: white;
    z-index: 101;
    font-size: 35px;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: inherit;
    cursor: pointer;
    padding: 0;
}

.sideBar__link:hover {
    background-color: rgb(44, 43, 43);
    transition: .3s .1s ease-in-out;
}

/* Hamburger Menu End*/

/* Social Media*/

.media-list {
    position: fixed;
    right: 50px;
    list-style: none;
    top: 5px;
}

.sm-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 10px;
    margin-right: 8px;
}

/* Navigation */

.navigation {
    text-align: center;
    color: black;
}

.navigationList {
    width: 100%;
    position: fixed;
    background-color: rgb(240, 240, 240);
    opacity: 1;
    padding: 10px 0px;
    margin: 0px;
}

.navigationList-position {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.navigationList-position:hover {
    border-bottom: 1px solid;
}

.navigationList-link {
    list-style: none;
    color: black;
    text-decoration: none;
}

/* Navigation List for "Prace" */

.dropDownList {
    list-style: none;
    background-color: white;
    position: absolute;
    padding: 0;
    width: 200px;
    z-index: 5;
    opacity: 0;
    left: -9999px;
    transition: ease 0.6s;
}

.dropDownList-item {
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    display: block;
    font-weight: normal;
    margin: 10px;
    color: black;
}

.dropDownList-item:hover {
    text-decoration: underline;
}

.navigationList-position:hover .dropDownList {
    opacity: 1;
    margin-left: -30px;
    left: inherit;
}

/* Main Page*/

.main__title {
    text-align: center;
    font-size: 18px;
    padding-top: 150px;
    font-weight: normal;
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-gap: 7px;
    max-width: 1221px;
    margin: auto;
}

.container__element {
    height: 300px;
    min-width: 300px;
    background-color: black;
    opacity: 1;
    text-align: center;
}

.container__element:hover {
    transition: 1s;
    color: white;
}

.container__image {
    opacity: 0;
    background-color: black;
    height: 100%;
    width: 100%;
}

/* dodać background image 300 x 300 z wyśrodkowaniem ^ */

.container__image:hover {
    opacity: 0.6;
    transition: 1s;
}

h3 {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border: 1px solid;
    color: white;
    background-color: transparent;
    padding: 15px 10px;
    position: relative;
    top: 50%;
}

.alternative {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    border: 1px solid;
    color: white;
    background-color: transparent;
    padding: 15px 10px;
    position: relative;
    top: 50%;
    left: 35%;
}

.container__element-title {
    grid-column: span 2;
    grid-row: span 2;
    height: 607px;
    width: 100%;
}

.container__element-right {
    grid-column: span 2;
    width: 100%;
    height: 100%;
}

.container__element-left {
    grid-column: span 2;
    width: 100%;
    height: 100%;
}

.container__image-wide {
    display: inline-block;
    opacity: 0;
    background-color: black;
    height: 300px;
    width: 100%;
}

/* dodać background image 300 x 300 z wyśrodkowaniem ^ */

.container__image-wide:hover {
    transition: 1s;
    color: white;
    opacity: 0.7;
}

/* Footer */

/* Logo */

.bottom {
    box-sizing: content-box;
    background-color: rgb(240, 240, 240);
}

.bottom__container {
    height: 150px;
    background-color: rgb(240, 240, 240);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1px;
    width: 100%;
}

.bottom__logo {
    flex-basis: 350px;
    text-align: center;
    margin-left: 10px;
}

.bottom__logo-position {
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

/* Contact */

.bottom__contact {
    flex-basis: 350px;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
}

.bottom__list {
    list-style-type: none;
}

/* Follow Me */

.bottom__follow {
    flex-basis: 350px;
    background-color: rgb(240, 240, 240);
    width: 100%;
}

.follow__logo {
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.logo__option {
    width: 100%;
    text-align: center;
}

.follow__logo-position {
    padding: 10px;
}

h4 {
    text-align: center;
    font-size: 15px;
}

/* End of front page */

/* Contact page */

.contactForm {
    margin: auto;
    max-width: 700px;
    text-align: center;
    padding-top: 10px;
}

.contactForm__liner {
    padding: 5px;
    border: 1px solid black;
    width: 60%;
}

.contactForm__wide {
    padding: 5px;
    border: 1px solid black;
    width: 60%;
    height: 340px;
    resize: none;
}

.contactForm__button {
    padding: 5px;
    border: 1px solid black;
    width: 70px;
    margin-left: 50%;
    background-color: white;
}

.contactForm__button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
/* End of Contact page */

/* Sessions Page */

.session__container {
    margin: auto;
    text-align: center;
}
    
.session__one {
    margin-top: 10px;
    margin-bottom: 10px;
}
.session__picture--landscape {
    margin-top: 10px;
    margin-bottom: 10px;
}

.session__picture--portrait {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}






/* End of Session page */


/* Media Queris */

@media (max-width: 1237px) {
    .bottom__contact {
        font-size: 25px;
    }
    .bottom__container {
        padding-bottom: 100px;
    }
    .main__title {
        font-size: 30px;
    }
    .follow__logo {
        height: 74px;
        width: 74px;
    }
    .sm-link {
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
    .hamburger {
        opacity: 1;
    }
    .navigationList {
        opacity: 0;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 300px));
        grid-gap: 7px;
        max-width: 914px;
        margin: auto;
    }
    h3 {
        font-size: 15px;
    }
    .alternative {
        font-size: 15px;
    }
}

@media (max-width: 1090px) {
    .bottom__container {
        padding-bottom: 220px;
    }
}

@media (max-width: 929px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 300px));
        grid-gap: 7px;
        width: 607px;
        margin: auto;
    }
    .container__image-change {
        height: 300px;
        min-width: 300px;
        background-color: black;
        opacity: 1;
    }
    .container__image-change {
        height: 300px;
        width: 300px;
        background-color: black;
        opacity: 0;
    }
    .container__element-right {
        grid-column: span 1;
        grid-row: span 1;
        height: 300px;
        width: 300px;
        background-color: black;
        opacity: 1;
        text-align: center;
    }
    .container__element-right {
        grid-column: span 1;
        width: 300px;
        height: 300px;
    }
    .container__element-title {
        grid-column: span 1;
        grid-row: span 1;
        height: 300px;
        width: 300px;
        background-color: black;
        opacity: 1;
        text-align: center;
    }
}

@media (max-width: 730px) {
    .bottom__container {
        padding-bottom: 320px;
    }
}